
export(listEnsemblGenes, getEnsemblGenes, readGFF3, writeGFF3)

export(isGFF3, noGenes, seqIds, geneIds, selectGenes, noIso, geneTypes,
       noExons, getIso, geneLength, isoLength, totalExonLength, getSpecies)

S3method("noGenes", "gff3")
S3method("seqIds", "gff3")
S3method("geneIds", "gff3")
S3method("selectGenes", "gff3")
S3method("noIso", "gff3")
S3method("geneTypes", "gff3")
S3method("noExons", "gff3")
S3method("getIso", "gff3")
S3method("geneLength", "gff3")
S3method("isoLength", "gff3")
S3method("totalExonLength", "gff3")
S3method("print", "gff3")
S3method("getSpecies", "gff3")
S3method("merge", "gff3")

export(createGene, rpk, realPsi, simulateReads)

export(readSAM, noReads, isPaired, isMixed, noPairs, noSingles, toTable,
       writeSAM, getReadLength, seqNames, selectReads, filterReads, FILTER,
       getStrand, getAttributes, listAttributes, getAttribute, getIsoform,
       sortBAMFile, SAMFile2BAMFile, indexBAMFile, mergeReads)

S3method("noReads", "splicingSAM")
S3method("isPaired", "splicingSAM")
S3method("isMixed", "splicingSAM")
S3method("noPairs", "splicingSAM")
S3method("noSingles", "splicingSAM")
S3method("toTable", "splicingSAM")
S3method("writeSAM", "splicingSAM")
S3method("print", "splicingSAM")
S3method("getReadLength", "splicingSAM")
S3method("seqNames", "splicingSAM")
S3method("selectReads", "splicingSAM")
S3method("filterReads", "splicingSAM")
S3method("getStrand", "splicingSAM")
S3method("getAttributes", "splicingSAM")
S3method("listAttributes", "splicingSAM")
S3method("getAttribute", "splicingSAM")
S3method("getIsoform", "splicingSAM")

export(plotIso, plotIsoSize, plotIsoPDF)

export(MISO, runMISO, writeMISO, readMISO, postMean, runData)

S3method("print", "MISOresult")
S3method("writeMISO", "MISOresult")
S3method("postMean", "MISOresult")
S3method("logLik", "MISOresult")
S3method("runData", "MISOresult")

export(geneComplexity, assignmentMatrix)

export(matchIso, solveIso, runLinear)
