*.o
Makevars
assignment.c
config.h
config.h.in
convert.c
error.c
f2c.h
fortran_stuff.c
gff.c
ident.c
lawson_hanson_nnls.c
matrix.c
matrix.pmt
memory.c
miso.c
nnls.c
qsort.c
qsort_r.c
random.c
simulator.c
solve.c
splicing.h
splicing.so
splicing_error.h
splicing_matrix.h
splicing_matrix_pmt.h
splicing_memory.h
splicing_pmt.h
splicing_pmt_off.h
splicing_random.h
splicing_vector.h
splicing_vector_pmt.h
strvector.c
vector.c
vector.pmt
util.c
miso_paired.c
bam.c
bam.h
bam2bcf.c
bam2bcf.h
bam2bcf_indel.c
bam2depth.c
bam_aux.c
bam_cat.c
bam_color.c
bam_endian.h
bam_import.c
bam_index.c
bam_lpileup.c
bam_mate.c
bam_md.c
bam_pileup.c
bam_plcmd.c
bam_reheader.c
bam_rmdup.c
bam_rmdupse.c
bam_sort.c
bam_stat.c
bam_tview.c
bcf.c
bcf2qcall.c
bcftools/
bcfutils.c
bedidx.c
bgzf.c
bgzf.h
call1.c
cut_target.c
em.c
errmod.c
errmod.h
faidx.c
faidx.h
fet.c
index.c
kaln.c
kaln.h
kfunc.c
khash.h
klist.h
kmin.c
knetfile.c
knetfile.h
kprobaln.c
kprobaln.h
kseq.h
ksort.h
kstring.c
kstring.h
mut.c
phase.c
prob1.c
razf.c
razf.h
sam.c
sam.h
sam_header.c
sam_header.h
sam_view.c
sample.c
sample.h
vcf.c
lapack.c
splicing_lapack.h
complexity.c
